body {
    background-color: #fcf7f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

:root {
    --info-font-size: 6px;
    --screen-font-size: 36px;
    --screen-font-width: 20px;
    --input-obj-min-height: 41px;
    --button-font-size: 18px;
    --button-space: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.calculator {
    border-radius: 8px;
    background-color: #ced3dc;
    margin-top: 50px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    min-width: 250px;
}

.screen {
    background-color: #a8c64e;
    color: #3c412c;
    font-family: "system-ui";
    font-size: var(--screen-font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info {
    font-size: var(--info-font-size);
    min-height: var(--info-font-size);
    background-color: inherit;
    width: 94%;
    margin-bottom: 6px;
}

.input,
.result {
    background-color: #8da741;
    min-height: var(--screen-font-size);
    width: 96%;
    margin-bottom: 6px;
    height: 41px;
}

.input {
    text-align: left;
    display: flex;
    justify-content: start;
}

.result {
    padding-top: 6px;
    padding-bottom: 0px;
    text-align: right;
}

.controls {
    display: flex;
    justify-content: center;
    gap: var(--button-space);
}

.numbers,
.functions {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: var(--button-space);
    margin-top: var(--button-space);
}

.additional-functions {
    display: flex;
    flex-direction: row;
    gap: var(--button-space);
    margin-top: var(--button-space);
}

.numbers {
    width: 120%;
}

.functions {
    width: 80%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--button-space);
}

.numeric,
.cancel,
.black-buttons {
    font-size: var(--button-font-size);
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 50px
}

.cancel {
    background-color: #ff6600;
}

.cancel:hover {
    background-color: #f7ad19;
}

.variable {
    font-style: italic;;
}

.footer {
    padding: 20px;
}